<head>
  <meta charset="utf-8">
  <title>A Meatier Vuetify, Roasted</title>
  <meta name="description" content="Meteor application using Vuetify for Material Design">
  <meta name="viewport" content="initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=News+Cycle">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      body, html {
        font-family: "News Cycle", sans-serif !important;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: "News Cycle", sans-serif !important;
      }

      dignity {
        font-family: "News Cycle", sans-serif !important;
      }

      .material-icons, .fa {
        vertical-align: middle;
      }

    </style>

</head>

<body>
  <app></app>
</body>
