@import url(http://fonts.googleapis.com/css?family=News+Cycle|Material+Icons);

@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body, html {
  font-family: 'News Cycle', sans-serif !important;
  font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'News Cycle', sans-serif !important;
  font-weight: 300 !important;
  text-transform: none !important;
}

.dignity {
  font-family: 'News Cycle', sans-serif !important;
}

.material-icons, .fa {
  vertical-align: middle;
}

.section-header {
    letter-spacing: 2px;
    text-align: left !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-header:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
}
