<template>
    <v-container fill-height fluid>
      <v-layout align-center justify-center>
        <v-flex xs4 text-xs-center>

        <v-card class="pa-5 mt-5" style="width: 400px;">
            <v-icon large style="font-size: 50px">all_inclusive</v-icon>

            <!-- <v-img :src="../../public/images/biohazard.svg" aspect-ratio="1"></v-img> -->

            <h1 class="display-1 mt-5">In Principio</h1>
            <h2 class="headline">A Meatier Vuetify Griddle</h2>
            <v-btn>
              <v-icon>my_location
              </v-icon>&nbsp; Engenho Novo LLC</v-btn>
            <v-btn secondary>
            <i class="material-icons">all_inclusive</i>&nbsp; Snacks Foobared
            </v-btn>
        </v-card>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
    name: 'Home2',
    data() {
        return {
        }
    },
}
</script>

<style scoped>

</style>
