<template>
    <v-app id="example-2" toolbar>
        <v-navigation-drawer absolute persistent light :mini-variant.sync="mini" v-model="drawer" overflow>
            <v-toolbar transparent>
                <v-list class="pa-0">
                    <v-list-tile avatar tag="div">
                        <v-list-tile-avatar>
                          <v-icon large>group</v-icon>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Mute, Fiery  Veto</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-btn icon @click.native.stop="mini = !mini">
                                <v-icon>chevron_left</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list>
            </v-toolbar>

            <v-list class="pt-0 mt-4" dense style="overflow: hidden;">
                <template v-for="(item, index) in items">

                    <v-list-group v-if="item.children" :value="item.active">
                        <v-list-tile slot="item">
                            <v-list-tile-action>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <v-icon>keyboard_arrow_down</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile v-for="(child, childIndex) in item.children" @click="handleClick(child.route)" :key="childIndex">
                            <v-list-tile-action>
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ child.title }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list-group>

                    <v-list-tile v-else :key="index" @click="handleClick(item.route)">
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                </template>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar fixed class="blue-grey lighten-2" dark>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>
              <i class="fa fa-gears fa-2x mr-2"></i>
              Engenho Novo Meteor-V</v-toolbar-title>
        </v-toolbar>
        <main>
            <v-container fluid>
                <v-breadcrumbs divider="|">
                    <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled">
                        {{ item.text }}
                    </v-breadcrumbs-item>
                </v-breadcrumbs>

                <!--v-router-->
                <router-view></router-view>
            </v-container>
        </main>
    </v-app>
</template>

<script>
import _ from 'lodash';

export default {
    name:'AppLayout',
    data() {
        return {
            breadcrumbs: [
                {
                    text: 'Mission Control',
                    disabled: false
                },
                {
                    text: 'Battle Stations',
                    disabled: false
                },
                {
                    text: 'Excursion Module',
                    disabled: true
                }
            ],
            drawer: true,
            mini: false,
            right: null,
            items: [
                { title: 'In Principio', icon: 'mic', route: { path: '/' } },
                { title: 'Thurn und Taxis', icon: 'mail_outline', route: { name: 'post' } },
                { title: 'Sobre Pobres', icon: 'attach_money' },
                { title: 'Sobre Nobres', icon: 'my_location' },
                {
                    title: 'Interstate Commerce',
                    icon: 'all_inclusive',
                    children: [
                        { title: 'Gun Running', icon: 'directions_run' },
                        { title: 'Price-Gouging', icon: 'directions_bike' },
                        { title: 'Rum Running', icon: 'directions_transit' },
                        { title: 'Dope Smuggling', icon: 'translate' }
                    ]
                },
                {
                    title: 'Anarcho-Syndicalism',
                    icon: 'touch_app',
                    children: [
                        { title: 'Every Item Tofu', icon: 'visibility' },
                        { title: 'Every Toe Mufti', icon: 'dashboard' },
                        { title: 'Refute Ye, Vomit', icon: 'dashboard' },
                        { title: 'Outfit Every Em', icon: 'dashboard' },
                        { title: 'Vie to Meet Fury', icon: 'dashboard' }
                    ]
                },
            ],
        };
    },
    computed: {
        contentTitle() {
            let title = 'No Title';
            title = this.$route.meta.contentTitle ? this.$route.meta.contentTitle : (this.$route.name ? _.startCase(this.$route.name) : title);

            return title;
        },
    },
    methods: {
        handleClick(route) {
            this.$router.push(route);
        }
    }

};
</script>

<style lang="scss" scoped>
#keep {
    main {
        .container {
            height: 660px
        }
        .navigation-drawer__border {
            display: none
        }
        .text {
            font-weight: 400
        }
    }
}

v-list-group {
  font-size: 18px;
}

</style>
